.contact-section {
    background-color: rgb(230, 244, 255);
    height: 100vh;
    padding: 20px; /* Add some padding */
    box-sizing: border-box; /* Include padding in the element's total width and height */
}

.contact-title {
    font-size: 3em;
    color: rgb(15, 42, 71);
    font-weight: bold;
    text-align: center;
    margin-bottom: 7vh;
}

.contact-content {
    display: flex;
    justify-content: space-between; /* Space between the text and form */
    align-items: center; /* Center vertically */
    padding: 20px; /* Add some padding */
    box-sizing: border-box; /* Include padding in the element's total width and height */
}

.contact-text {
    flex:1;
    max-width: 40%;
}

.contact-form {
    flex: 1; /* Allow the form container to grow */
    max-width: 50%; /* Limit the maximum width */
    background-color: rgb(182, 219, 242); /* Light background color */
    padding: 30px 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

/* Contact Title */
.contact-subtitle {
	font-size: 2em;
	font-weight: bold;
	color: #333;
	margin-bottom: 10px;
}

.contact-description {
    font-size: 1.2em;
    color: #666;
    margin-bottom: 20px;
}

/* Contact Form */
.contact-fields form {
	display: flex;
	flex-direction: column;
}

/* Form Labels */
.contact-fields label {
	font-size: 1em;
	color: #555;
	margin-bottom: 5px;
}

/* Form Inputs */
.contact-fields input[type="text"],
.contact-fields input[type="email"],
.contact-fields textarea {
	font-size: 1em;
	padding: 10px;
	margin-bottom: 20px;
	border: 1px solid #ddd;
	border-radius: 5px;
	width: 100%;
	box-sizing: border-box;
	transition: border-color 0.3s ease;
}

.contact-fields input[type="text"]:focus,
.contact-fields input[type="email"]:focus,
.contact-fields textarea:focus {
	border-color: #007BFF; /* Primary color for focus */
	outline: none;
}

/* Textarea */
.contact-fields textarea {
	resize: vertical;
	min-height: 150px;
}

/* Submit Button */
.contact-fields input[type="submit"] {
	background-color: #007BFF; /* Primary button color */
	color: #fff;
	font-size: 1em;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

.contact-fields input[type="submit"]:hover {
	background-color: #0056b3; /* Darker shade on hover */
}