* {
    margin: 0;
    padding: 0;
    font-family: 'League Spartan', sans-serif;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: rgb(8, 30, 55);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 7vh;
}

.left-section {
    display: flex;
    align-items: center;
}

.name-header {
    color: rgb(255, 255, 255);
    font-family: "Dancing Script", cursive;
    font-size: 30px;
    margin-left: 70px;
}

.right-section {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 0px;
}

 .cool-button {
    position: relative; 
    overflow: hidden;
    margin-right: 30px;
    color:  rgb(255, 255, 255);
    background-color: rgb(120, 48, 68);
    padding: 8px 13px;
    border-radius: 16px;
    border: none;
    font-size: 20px;
    font-weight: bold;
    z-index: 1;
    transition: background-color 0.15s ease-in-out, color 0.15s ease-in-out;
}

.projects-button, .contact-button, .home-button {
    position: relative; 
    margin-right: 30px;
    color: rgb(152, 61, 87);
    background-color: transparent;
    padding: 0;
    border: none;
    font-size: 20px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.projects-button::after, .contact-button::after, .home-button::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: 0;
    left: 0;
    background: linear-gradient(to right, rgb(120, 49, 68), rgb(255, 255, 255));
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s ease-in-out;
}

.cool-button::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    background: linear-gradient(to right, rgb(160, 148, 57), rgb(243, 236, 163));
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.15s ease-in-out;
    z-index: -1;
}

.projects-button:hover::after, .contact-button:hover::after, .home-button:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.cool-button:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}